.content{
    padding : 2.5%; 
    float: left;
    text-align: left; 
    font-size: 1.5em;
}

h1{
    font-family: Lucida Sans Typewriter;
    text-align: left;
    text-decoration: underline;
}

a:visited{
    border:none;
    font-style:normal;
    color:black;
}

#nav-logo{ 
    float: left;
    position: relative;
    top: -30px;
}

#nav-logo svg:hover g{
    fill: purple;
}

#landing{
    font-size: 5.5em; 
}

p{
    font-size: 1.5em;
}

#intro{
    padding-top: 12%;
}

.navbar {
    background-color: #CD96CD;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font: bold;
    font-size: 1.0em;
    font-family: Lucida Sans Typewriter;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: purple;
}
